<!DOCTYPE html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.min.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.10.2/angular-chart.min.js"></script>
<style>
    .body-bg {
        background-color: #f2f2f2;
        font-family: 'sans-serif'
    }
    
    .title {
        color: white
    }
    
    .navbar-default {
        background-color: #205081;
        border-color: #205081;
    }
    
    .panel-success>.panel-heading {
        background-color: #14892c;
        color: white;
    }
</style>

<body class="body-bg">
    <div ng-app="myApp" ng-controller="myCtrl">
        <nav class="navbar navbar-static-top navbar-default">
            <div class="container-fluid">
                <h2 class="title">
                    </i>Web Hawk</h2>
            </div>
        </nav>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div class="panel panel-success">
                                <div class="panel-heading clearfix">
                                    <span class="pull-left">
                                <h3 class="panel-title" ng-if="good">
                                    All Systems Operational
                                </h3>
                                <h3 class="panel-title" ng-if="!good">
                                    Not All Systems Operational
                                </h3>
                            </span>
                                    <span class="pull-right">
                                <p>@ {{ updated.substring(11) }}</p>
                            </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 column">
                                    <div class="list-group">

                                        <div class="list-group-item clearfix" ng-repeat="eachData in services">
                                            <span class="pull-left clearfix">
                                                <h4>
                                                    {{ eachData.Name }}
                                                </h4>
                                                <h6><i>{{ eachData.URL }}</i></h6>
                                            </span>

                                            <span class="pull-right clearfix">
                                                <span class="label label-danger" ng-if="!eachData.Alive">Not Operational</span>
                                                <span class="label label-success" ng-if="eachData.Alive">Operational</span>
                                                <br/><i>{{ eachData.Msec.toFixed(2) }} ms </i>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" </canvas>
                    </div>
                    
                    <div class="row clearfix" ng-if="news.length > 0">
                        <div class="col-md-12 column">
                            <H3>Recent Events</H3>
                            <div class="list-group">
                                <div class="list-group-item clearfix" ng-repeat="eachNews in news">
                                    <span class="pull-left clearfix">
                                        <h4>
                                        {{ eachNews.Timestamp.substring(0, 16) }}
                                        </h4>
                                    </span>
                                    <span class="pull-right clearfix">
                                        {{ eachNews.Content }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
var app = angular.module("myApp", ["ngResource", "chart.js"]) 
app.factory('statusService', ['$resource', function($resource) {
    return $resource("http://localhost:3001/up")
  }])
app.factory('historyService', ['$resource', function($resource) {
    return $resource("http://localhost:3001/history")
  }])
app.factory('newsService', ['$resource', function($resource) {
    return $resource("http://localhost:3001/news")
}])
app.controller("myCtrl", function(statusService, historyService, newsService, $scope, $http) {
    $scope.services = []
    $scope.good = true
    $scope.updated = ""
    $scope.news = []

    statusService.get(function(res) {
        setStatus(res)
    }, function(error) {
        // Error handler code
    });

    function setStatus(data){
        $scope.updated = data.Timestamp
        $scope.services = data.Services
        data.Services.forEach(function(eachSvc){
            $scope.good = $scope.good & eachSvc.Alive
        })
        // console.debug("status updated: " + JSON.stringify(data))
    }

    // Socket updates
    var socket = io('http://localhost:3001/socket.io');
    socket.on('updateEvent', function (data) {
        // console.debug(data);
        $scope.$apply(setStatus(JSON.parse(data)))
        $scope.$apply(pushSvcData(JSON.parse(data)))
        // socket.emit('my other event', { my: 'data' });
    });

    // Charts
    $scope.labels = []; // X axis labels
    $scope.series = []; // Each line description
    $scope.data = []; // An array of array (one for each series)

    var setProps = false
    function pushSvcData(data){
        // Early terminate
        if (data.Timestamp == undefined || data.Timestamp.length < 16) {
            return
        }

        // Pop anything over most recent limit
        if ($scope.labels.length > 48) {
            $scope.labels.shift()
            $scope.data.forEach(function(eachDataSet){eachDataSet.shift()})
        }

        // Really push data
        $scope.labels.push(data.Timestamp.substring(11,16))
        svcArr = data.Services
        for (var i in svcArr){
            if (!setProps) {
                $scope.series.push(svcArr[i].Name)
                $scope.data.push([svcArr[i].Msec])
            } else {
                var nameIdx = $scope.series.indexOf(svcArr[i].Name)
                if (nameIdx != -1) {
                    $scope.data[nameIdx].push(svcArr[i].Msec.toFixed(2))
                }
            }
        }
        if (!setProps) {
            setProps = true
        }
    }

    historyService.query(function(res) {
        sortedData = res.sort(function(item1, item2){
            return item1.Timestamp.localeCompare(item2.Timestamp);
        })
        sortedData.forEach(function(data){pushSvcData(data)})
        // console.debug("HISTORY ===> " + JSON.stringify(sortedData))
    }, function(error) {
        // Error handler code
    });

    // News
    function setNews(data){
        $scope.news = data.News
        console.debug("News updated: " + JSON.stringify(data.News))
    }
    newsService.get(function(res) {
        setNews(res)
    }, function(error) {
        // Error handler code
    });

})
</script>
</body>

</html>